@use 'mixins' as *;

.card {
  @include flexcentre;
  overflow: hidden;
  justify-content: flex-start;
  border: 1px solid var(--border-primary);
  border-radius: 40px;
  flex-direction: column;
  width: 310px;
  height: 506px;

  &__img {
    transition: transform 0.3s ease;
    object-fit: cover;
    border-radius: 40px;
    width: 310px;
    height: 310px;
  }
  &__txt-wrapper {
    @include flexcentre;
    width: 100%;
    color: var(--text-primary);
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
  }
  &__desc-wrapper {
    width: 100%;
    @include flexcentre;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  &__title {
    @include heading3;
  }
  &__subtitle {
    @include medium;
  }
  &:hover {
    .card__img {
      object-fit: contain;
    }
  }
}
