@use 'mixins' as *;
@use 'variables' as *;
.header {
  padding: 20px 0;
  @include flexcentre;
  width: 100%;
  justify-content: space-between;
  &__logo {
    @include flexcentre;
  }
  &__list {
    @include flexcentre;
    gap: fluid(20, 40, 768, 1440);
    @media (max-width: 769px) {
      display: none;
    }
  }
  &__control {
    @include flexcentre;
    gap: fluid(12, 24, 380, 768);
  }
  &__theme-select {
    @include flexcentre;
    border: 1px solid var(--border-primary);
    border-radius: 100px;
    padding: 4px;
  }
  &__menu {
    @include flexcentre;
    &--desktop {
      gap: 8px;
      svg {
        align-self: flex-start;
      }
    }
    &--mobile {
      display: none;
    }
    @media (max-width: 769px) {
      &--desktop {
        display: none;
      }
      &--mobile {
        border: 1px solid var(--background-container);
        border-radius: 100px;
        width: 44px;
        height: 44px;
        display: flex;
      }
    }
  }
}
.link {
  @include link-button;
  color: var(--text-primary);
}
.logo {
  width: 100px;
  height: 60px;
  &--light {
    display: block;
  }
  &--dark {
    display: none;
  }
}
.icon {
  &--light {
    width: 36px;
    height: 36px;
  }
  &--dark {
    width: 36px;
    height: 36px;
  }
}

[data-theme='dark'] {
  .logo {
    &--light {
      display: none;
    }
    &--dark {
      display: block;
    }
  }
}
