@use 'scss:math';

@mixin heading1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}
@mixin heading1Accent {
  @include heading1();
  font-style: italic;
}
@mixin heading2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
}
@mixin heading2Accent {
  @include heading2();
  font-style: italic;
}
@mixin heading3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
@mixin medium {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
@mixin caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}
@mixin link-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
@mixin burger-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}

@mixin heading1-mobile {
  font-size: 42px;
  font-weight: 600;
  line-height: 115%;
}
@mixin heading1Accent-mobile {
  @include heading1-mobile();
  font-style: italic;
}
@mixin heading2-mobile {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}
@mixin heading2Accent-mobile {
  @include heading2-mobile();
  font-style: italic;
}
