@use 'reset' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'header';
@use 'sections' as *;
@use 'footer' as *;
@use 'about' as *;
@use 'card' as *;

.hidden {
  @media (max-width: 768px) {
    overflow: hidden;
  }
}

body {
  display: flex;
  position: relative;
  overflow-x: hidden;
  justify-content: center;
  font-family: $font-family;
}
.app-wrapper {
  @include flexcentre;
  transition: background 0.3s ease;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 1440px;
  background: var(--background-page);
  padding-left: fluid(16, 40, 380, 768);
  padding-right: fluid(16, 40, 380, 768);
  padding-bottom: 40px;
}
.content {
  @include flexcentre;
  width: 100%;
  flex-direction: column;
  gap: 100px;
}
.icon {
  :hover {
    cursor: pointer;
  }
}
a:hover {
  cursor: pointer;
}
