@use 'reset' as *;
@use 'variables' as *;
@use 'mixins' as *;
@use 'header';
@use 'sections' as *;

body {
  display: flex;
  justify-content: center;
  font-family: $font-family;
}
.app-wrapper {
  @include flexcentre;
  align-items: flex-start;
  width: 100%;
  max-width: 1440px;
  background: var(--background-page);
  padding-left: fluid(16, 40, 380, 768);
  padding-right: fluid(16, 40, 380, 768);
  padding-bottom: 40px;
}
